{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container">
    <div class="row">
        <h1 class="text-center py-5">TAREAS</h1>
        <div class="grid gap-3">
        <div class="card card-body">
            <div class="">
                <form>
                    <input class="form-control w-50 p-3 p-2 g-col-6" type="date" name="fecha" onchange="this.form.submit()">
                </form>
                <a class="btn btn-outline-secondary p-2 g-col-6" href="/task/create/">
                    <img src="{% static 'source/icons/agregar.png' %}">Nueva Tarea 
                </a>
            </div>
        </div>
            <h3 class="badge text-bg-danger">IMPORTANTE</h3>
            <h3 class="badge text-bg-success">SIN IMPORTANCIA</h3>
            </h2>
<ul class="list-group">
    {% for task in tasks %}
    <a class="list-group-item" class="list-group-item" href="{% url 'task_detail' task.id %}">
        <header class="d-flex justify-content-between">
            {% if task.important %}
            <h1 class="badge text-bg-danger">{{task.title}}
            </h2>
            {% else %}
            <h1 class="badge text-bg-success">{{task.title}}</h1>
            {% endif %}

            <small>Cargado por: {{task.user.username}}</small>
        </header>
        <p>{{task.description}}</p>
        <!-- <p>{{task.important}}</p> -->
        
        <p>{{task.datecompleted|date:'M j Y'}}</p>


    </a>
    {% endfor %}
</ul>
        </div>
    </div>
</main>
{% endblock %}
